{% extends "navbarbase.html" %}

{% block indexcontent %}
<h5 class="onequestion">Question</h5>
<div class="card">
  <article class="media content-section">
    <div class="media-body">
      <div>
        <h2> {{question.text}}</h2> 
      </div>
    </div>
  </article>
</div>
<h5 class="allanswers">Answers</h5>
{%if answers%}
<div class="space">
<a class="btn btn-primary" href="{{url_for('addanswer',question_id=questionid)}}">write an answer</a>
{%if current_flag%}
<a class="btn btn-danger"href="{{url_for('deletequestion',questionid=questionid)}}">Delete question</a>
<a class="btn btn-success" href="{{url_for('updatequestion',questionid=questionid)}}">update question</a>
{%endif%}
</div>

        {% for answer in answers %}
            <div class="card">
              <article class="media content-section">
                <div class="media-body">
                  <div>
                    <p class="solution_size">{{answer.solution}}</p>
                  </div>
                </div>
              </article>
              {%if answer.user_id == current_user.id%}
              <a id="red" class="btn btn-danger" href="{{url_for('deleteanswer',questionid=question.id,answerid=answer.id)}}">Delete answer</a>
              <a id="green" class="btn btn-success" href="{{url_for('updateanswer',questionid=question.id,answerid=answer.id)}}">update answer</a>
              {%endif%}
            </div>
        {% endfor %}
{%else%}
<div class="card">
  <article class="media content-section">
    <div class="media-body">
      <h2><a class="article-title" href="{{url_for('addanswer')}}">No Answer</a></h2>
    </div>
  </article>
</div>
{%endif%}
{% endblock%}
