{% extends "navbarbase.html" %}

{% block indexcontent %}
</script>

        <div class="login-reg-panel">            
            <div class="register-info-box">
                <h2>Don't have an account?</h2>
                <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
                <a href="{{ url_for('index') }}">Continue with out signing</a>
                <label id="label-login" for="log-login-show"><a href="{{ url_for('register') }}">Register</a></label>
                <input type="radio" name="active-log-panel" id="log-login-show">
            </div>
                                
            <div class="white-panel">
                <div class="login-show show-log-panel">
                    <form action="" method="post" novalidate class="register-form">
                        {{ form.hidden_tag() }}
                        <p>
                            {{ form.username.label }}<br>
                            {{ form.username(size=32) }}<br>
                            {% for error in form.username.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p>
                            {{ form.password.label }}<br>
                            {{ form.password(size=32) }}<br>
                            {% for error in form.password.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p>{{ form.submit() }}</p>
                </form>
                </div>
            </div>
        </div>       
 {% endblock %}

<script>$('.message a').click(function(){
    $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
 });

</script>
