
{% extends "navbarbase.html" %}
{% block indexcontent %}
{%if questions or questions_answers_word %}
    {% for question in questions %}
<div class="container">

  <div class="row"><br><br>
      <div class="col-sm-8 col-sm-offset-2">
          <div class="loader">
              <div id="quiz">
            
                  <div class="question">
                      <h3><span class="label label-warning" id="qid">{{ loop.index }}</span></h3>
                        <h2 id="text"><a  href="{{url_for('answer', question_id=question.id)}}">{{question.text}}</a></h2>                     
                  </div>
                  <ul>
                  </ul>
              </div>
          </div>
          <div class="text-muted">
              <span id="answer"></span>
          </div>        
      </div>
  </div>
  </div>


  {% endfor %}
  {% for answer_inquestion in questions_answers_word %}
  <div class="container">
  
    <div class="row"><br><br>
        <div class="col-sm-8 col-sm-offset-2">
            <div class="loader">
                <div id="quiz">                  
                    <div class="question">
                        <h3><span class="label label-warning" id="qid">{{ answer_inquestion.2}}</span></h3>
                          <h2 id="text"><a id=text_1 href="#">{{answer_inquestion.0}}</a></h2>                       
                    </div>
                    <h5 class="answersgap">Answer</h5>
                    <div class="answer">
                          <h2 id="textanswer"><a  id=text_2 href="#">{{answer_inquestion.1}}</a></h2>                        
                    </div>
                    <ul>
                    </ul>
                </div>
            </div>
            <div class="text-muted">
                <span id="answer"></span>
            </div>
            
        </div>
    </div>
    </div>
  
    {% endfor %}
  {% else %}
  <div class="container">

    <div class="row"><br><br>
        <div class="col-sm-8 col-sm-offset-2">
            <div class="loader">
                <div id="quiz">           
                    <div class="question">
                          <h2><a id="question" href="{{url_for('add_question')}}">No Questions</a></h2>
                        </h3>
                    </div>
                    <ul>
                    </ul>
                </div>
            </div>
            <div class="text-muted">
                <span id="answer"></span>
            </div>
            
        </div>
    </div>
    </div>
  {%endif%}
  {% endblock %}
