{% extends "navbarbase.html" %}

{% block indexcontent %}
<style>
body{
    background-color: #556b2f;
}
.centered-form{
	margin-top: 60px;
}

.centered-form .panel{
	background: #BAB863;
	box-shadow: rgba(0, 0, 0, 0.3) 50px 50px 50px;
}

.panel{

    margin-left: 100px;
}
.panel-heading,.panel-body{

margin-left: 20px;
}
</style>
    <div class="container">
        <div class="row centered-form">
        <div class="col-xs-12 col-sm-10 col-md-10 col-sm-offset-2 col-md-offset-4">
        	<div class="panel panel-default">
        		<div class="panel-heading">
			    		<h3 class="panel-title">Please sign up for Buzz <small>It's free!</small></h3>
			 			</div>
			 			<div class="panel-body">
                            <form action="" method="post">
                                {{ form.hidden_tag() }}
                                <p>
                                    {{ form.username.label }}<br>
                                    {{ form.username(size=32) }}<br>
                                    {% for error in form.username.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </p>
                                <p>
                                    {{ form.password.label }}<br>
                                    {{ form.password(size=32) }}<br>
                                    {% for error in form.password.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </p>
                                <p>
                                    {{ form.password2.label }}<br>
                                    {{ form.password2(size=32) }}<br>
                                    {% for error in form.password2.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </p>
                                <p>{{ form.submit() }}</p>
                            </form>
                            <a href="{{ url_for('index') }}">Continue with out signing</a>
			    	</div>
	    		</div>
    		</div>
    	</div>
{% endblock %}

