{% extends "navbarbase.html" %}
{% block indexcontent %}
    {% for question in questions %}
<div class="container">

  <div class="row"><br><br>
      <div class="col-sm-8 col-sm-offset-2">
          <div class="loader">
              <div id="quiz">
            
                  <div class="question">
                      <h3><span class="label label-warning" id="qid">{{ question.id }}</span>
                        <h2><a id="question" href="{{url_for('answer', question_id=question.id)}}">{{question.text}}</a></h2>
                      </h3>
                  </div>
                  <ul>
                  </ul>
              </div>
          </div>
          <div class="text-muted">
              <span id="answer"></span>
          </div>
          
      </div>
  </div>
  </div>
  {% endfor %}
  {% endblock %}