{% extends "navbarbase.html" %}

{% block indexcontent %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="form-group wordwrap">
                {{ form.question.label(class="form-control-label label-primary") }}
                {% if form.question.errors %}
                    {{ form.question(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.question.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.question(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="btn btn-primary">
            {{ form.submit() }}
        </div>
    </form>
</div>
{% endblock %}
