{% extends "navbarbase.html" %}

{% block indexcontent %}
<div class="row">
  <h2 class="websitegap">All website users</h2>
  <div class="rightcolumn">
            {% for user in users %}
                <div class="usergap">

                 <a href="{{url_for('user', username=user.name)}}">
                  <span class="fas fa-user">  {{user.name}}</span>
                 </a>
                </div>
            {% endfor %}
        <br>
        <br>
  </div>
</div>

{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
{% endblock %}
